.pagination {
  & > li {
    & > a,
    & > span {
      color: #aaa;
    }

    & > a:hover,
    & > span:hover,
    & > a:focus,
    & > span:focus {
      color: #16A085;
    }
  }

  .active {
    & > a,
    & > span,
    & > a:hover,
    & > span:hover,
    & > a:focus,
    & > span:focus {
      background-color: #1ABC9C;
      border-color: #1ABC9C;
    }
  }

  .disabled {
    & > span,
    & > span:hover,
    & > span:focus,
    & > a,
    & > a:hover,
    & > a:focus {
      background-color: #f5f5f5;
    }
  }
}
