
#testimoni{
  width: 100%;
  background: url(../img/img02.jpg) no-repeat center center transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/s2.png',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/s2.png',sizingMethod='scale')";
  background-size:cover !important;
  -webkit-background-size:cover !important;
  -moz-background-size:cover !important;
  -ms-background-size:cover !important;
  -o-background-size:cover !important;
  _background-size:cover;
  *background-size:cover;
  padding: 80px 0;
  text-align: center;
}

#testimoni .testimoni-icon i {
  font-size: 22px;
  width: 55px;
  height: 55px;
  color: #ffffff;
  display: inline-block;
  padding: 17px;
  background: #1ABC9C;
  border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
  -o-box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
}

#testimoni h3 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  letter-spacing: -1px;
  margin: 15px 0;
}

#testimoni .carousel-control {
  height: 36px;
  width: 36px;
  margin-top: 0;
  font-size: 26px;
  line-height:24px;
  text-shadow: none;
  background: #1ABC9C;
  padding: 1px 2px 12px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  font-weight: 300;
  border: 3px solid #ffffff;
  z-index: 3;
  opacity: 0.8;
  filter: alpha(opacity=80);
}


#testimoni .carousel-control:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

#testimoni a.carousel-control.right {
  top: auto;
  bottom: -20px;
}

#testimoni  a.carousel-control.left {
  top: auto;
  bottom: -20px;
}

#testimoni .carousel .item{
  text-shadow: 1px 0px #666;
}

#testimoni .carousel .item .testimoni-item{
  color: #ffffff;
  display: block;
  box-shadow: inset 0px 1px 1px -1px #ffffff, inset 0px -1px 1px -1px #ffffff;
  -o-box-shadow: inset 0px 1px 1px -1px #ffffff, inset 0px -1px 1px -1px #ffffff;
  -moz-box-shadow: inset 0px 1px 1px -1px #ffffff, inset 0px -1px 1px -1px #ffffff;
  -webkit-box-shadow: inset 0px 1px 1px -1px #ffffff, inset 0px -1px 1px -1px #ffffff;
  padding: 40px 0;
  font-size: 14px;
}

#testimoni .carousel .item h4{
  color: #ffffff;
  font-weight: 600;
  font-style: italic;
  font-size: 15px;
  text-transform: capitalize;
}
